html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.page-body {
    background-image:url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: "Ubuntu", sans-serif;
    position: relative;
}
.nav-logo {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 18px 79px;
    display: flex;
    justify-content: space-between;
}
.logo-link {
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    display: block;
    color: rgba(255, 255, 255, 1);
    transition: color 750ms ease;
    text-transform: uppercase;
}
.logo-link:hover {
    color: rgba(60, 184, 120, 1);
}
.nav-list {
    display: flex;
    align-items: center;
}
.nav-text {
    font-size: 14px;
    line-height: 14px;
    color: rgba(255, 255, 255, 1);
    padding-left: 27px;
    padding-top: 3px;
    padding-bottom: 2px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.log-in {
    font-size: 14px;
    line-height: 14px;
    color: rgba(255, 255, 255, 1);
    transition: color 750ms ease;
}
.log-in:hover {
    color: rgba(60, 184, 120, 1);
}
.sign-up {
    font-size: 14px;
    line-height: 14px;
    color: rgba(255, 255, 255, 1);
    transition: color 750ms ease;
}
.sign-up:hover {
    color: rgba(60, 184, 120, 1);
}
.nav-link {
    margin-right: 25px;
}
.nav-link path {
    transition: color 750ms ease;
}
.nav-link:hover path {
    fill: rgba(60, 184, 120, 1);
}
.registration-form {
    width: 444px;
    padding: 31px 60px 38px;
    position: absolute;
    left: calc(50% - 222px);
    top: calc(50% - 272px);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
}
.shape {
    top: 29px;
    left: 0;
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: rgba(60, 184, 120, 1);
}
.title-text {
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(67, 67, 67, 1);
}
.login-link {
    font-size: 14px;
    line-height: 14px;
    color: rgba(60, 184, 120, 1);
}
.login-link:hover {
    text-decoration: underline;
    color: rgba(1, 129, 63, 1);
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}
.facebook {
    background-color: rgba(48, 93, 184, 1);
    width: 160px;
    border: none;
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 22px 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 750ms ease;
}
.facebook:hover {
    background-color: rgba(2, 34, 99, 1);
}
.facebook::before {
    content: url(../img/facebook.png);
    padding: 2px 19px 2px 16px;
    border-right: 1px solid rgba(10, 22, 47, 0.1);
}
.google {
    background-color: rgba(223, 74, 50, 1);
    width: 160px;
    border: none;
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 27px 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 750ms ease;
}
.google:hover {
    background-color: rgba(171, 31, 9, 1);
}
.google::before {
    content: url(../img/G+.png);
    padding: 5px 7px 5px 12px;
    border-right: 1px solid rgba(43, 13, 9, 0.1);
}
.form-btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.form-inputs {
    position: relative;
    margin-bottom: 17px;
}
.lines {
    height: 1px;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    margin-top: 0;
    margin-bottom: 17px;
}
.form-small-text {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(132, 132, 132, 1);
    padding-left: 3px;
    padding-right: 3px;
    position: absolute;
    bottom: -5px;
    left: 152px;
}
.field {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    margin-bottom: 16px;
    width: 324px;
    padding: 14px 0 14px 19px;
    border: 1px solid rgba(242, 242, 242, 1);
    border-radius: 5px;
    color: rgba(67, 67, 67, 1);
    transition: box-shadow 750ms ease;
}
.field:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}
.field::placeholder {
    color: rgba(190, 190, 190, 1);
}
.field:last-child {
    margin-bottom: 12px;
}
.confirm {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: rgba(67, 67, 67, 1);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}
#confirm {
    margin: 0;
    margin-right: 8px;
}
.conditions {
    color: rgba(60, 184, 120, 1);
    margin-left: 4px;
}
.conditions:hover {
    color: rgba(1, 129, 63, 1);
    text-decoration: underline;
}
.create-acc {
    font-size: 16px;
    line-height: 16px;
    padding: 15px 106px;
    color: rgba(255, 255, 255, 1);
    background: rgba(60, 184, 120, 0.8);
    border-radius: 5px;
    border: none;
    transition: background-color 750ms ease;
}
.create-acc:hover {
    background-color: rgba(1, 129, 63, 1);
}
#confirm {
    display: none;
}
.confirm::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid rgb(242, 242, 242);
    background-color: rgba(255, 255, 255, 1);
    margin-right: 8px;
}
.confirm::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 10px;
    border-radius: 1px;
    border-left: 2px solid rgb(60, 184, 120);
    border-bottom: 2px solid rgb(60, 184, 120);
    transform: rotate(-55deg);
    transition: opacity 500ms;
}
#confirm:checked + .confirm::after {
    opacity: 1;
}
#confirm + .confirm::after {
    opacity: 0;
}